@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Nunito:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}

:root{
    --morado-dark: #170312;
    --morado-edio: #33032d;
    --morado-light: #531252;
    --gray-light: #eaeaea;
    --gold-dark: #E48A1D;
    --gold-medium: #E8B06B;
    --gold-light: #FFCD8F;
}


html{
    font-size: 62.5%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

a{
    text-decoration: none;
}


/* 
================= HEADER ===================
*/

.header{
    width: 100%;
    height: 100vh;
    
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.70)), url("../img/anillo-shine.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header .text{
    width: 100%;
    height: 100vh;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gold-dark);
}

/* 
================= NAVBAR ===================
*/

.navbar1{
    background: var(--gold-medium);
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar1 .nav-icons{
    display: flex;
    justify-content: space-between;
}

.navbar1 .nav-icons .icon{
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.navbar1 .nav-icons i{
    font-size: 1.7rem;
    color: #fff;
}

.navbar-desktop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: var(--gold-medium);
    transition: all .7s ease-in;
}

.navbar-desktop.active{
    left: 0;
}

.navbar-desktop .nav-close{
    padding: 1.5rem 2rem 0 0;
    display: flex;
    justify-content: flex-end;
}

.navbar-desktop .nav-close i{
    color: #fff;
    font-size: 3rem;
}


.navbar-desktop .nav-options{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-options .nav-item{
    margin: 1.5rem 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.nav-options .nav-item a,
.nav-options .nav-item span
{
    color: var(--gray-light);
    font-size: 3.5rem;
    width: 4rem;
}

.nav-options .nav-item .submenu-home{
    position: relative;
    left: -100%;
    transition: all .5s ease-out;
    height: 0;
}

.nav-options .nav-item .submenu-home.active{
    position: relative;
    left: 0%;
    background: var(--gold-light);
    width: 100%;
    padding: 1rem 0;
    height: auto;
}

.nav-options .nav-item .submenu-home ul{
    list-style: none;
}

.nav-options .nav-item .submenu-home a{
    font-size: 2.6rem;
}

.nav-options .nav-item .submenu-home .tienda li{
    padding: 1rem 0;
}

/* 
================ Productos destacados ======================
*/

.container{
    margin-top: 8rem;
}

.subtitle{
    font-size: 1.7rem;
    color: var(--gold-dark);
    font-weight: 700;
    z-index: 100;
    text-transform: uppercase;
    margin-bottom: 1rem;
    height: auto;
}

.subtitle span{
    background: var(--gray-light);
    padding: 0 1.2rem;
    z-index: 200;
    position: relative;
}


.subtitle::after{
    content:"";
    display: inline-block;
    height: .2rem;
    width:100%;
    background: var(--gold-dark);
    position: relative;
    top: -2.4rem;
    z-index: 1;
}


.prod-destacados{
    background: var(--gray-light);
    padding: 2rem;
    margin: 5rem 1rem;
}

.prod-destacados .title{
    width: 100%;
    font-size: 3.2rem;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 3rem;
}

.prod-destacados  .content{
    font-size: 1.7rem;
}

.prod-destacados .producto{
    position: relative;
    width: 100%;
    margin: 1rem 0;
}

.prod-destacados .producto img{
    border-radius: .5rem;
}

.prod-destacados .overlay{
    width: 0;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--gold-light);
    overflow: hidden;
    transition: .7s ease;
}

.prod-destacados .producto:hover .overlay{
    width: 100%;
    opacity: .8;
}

.prod-destacados .producto .overlay-texto{
    top: 50%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    color: var(--morado-dark);
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-top: 1px solid var(--morado-light);
    border-bottom: 1px solid var(--morado-light);
}

.prod-destacados .btn-producto{
    margin-top: 1rem;
    background: var(--morado-light);
    color: #fff;
    padding: .7rem 1.7rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    border: 2px solid transparent;
    transition: .3 ease;
}

.prod-destacados .btn-producto:hover{
    background: transparent;
    border: 2px solid var(--morado-light);
    color: var(--morado-dark);
}

/* 
================ SEPARADOR ======================
*/

.separador{
    width: 100%;
    height: 20rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.70)), url('/static/img/fondo-mejor.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 5rem;
}

.separador p{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.acerca-de{
    margin-bottom: 5rem;
}

/* 
================ GALERIA ======================
*/