.header .text{
    font-size: 7rem;
}

.navbar1{
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
}

#bars-icon{
    display: none;
}

#cart{
    position: absolute;
    z-index: 2000;
    left: 94%;
    top: 35%;
}

.navbar-desktop{
    position: absolute;
    height: 5rem;
    left: 0;
    
    background: var(--gold-medium);
    
}

.navbar-desktop .nav-options{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 4rem;
    width: 80%;
    margin: auto;
}

.navbar-desktop .nav-close {
    display: none;
    padding: 0;
}

.nav-options .nav-item{
    margin:  0;
    padding: 1rem 0;
    width: 60%;
    text-align: center;
}

.nav-options .nav-item a,
.nav-options .nav-item span
{
    color: var(--gray-light);
    font-size: 2rem;
    width: 4rem;
}

.nav-options .nav-item span:hover{
    cursor: pointer;
    color: red;
}


.submenu-home{
    display: none;
}

.nav-options .nav-item span:hover .submenu-home{
    display: inline-block;
    background: red;
}